{% extends "base.html" %}
{% block content %}
{% set active_page = "index" %}
<center>
<div class="container" width="100%"">
<div class="col-md-3 mb-4">
    <div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150"> -->
        <img src="../static/composite_pic.jpeg" alt="Admin" class="rounded-circle" width="150">
        <div class="mt-3">
            <h2>Nicholas Spell</h2>
            <p class="text-secondary mb-1">Tech Analyst</p>
            <p class="text-muted font-size-sm">Atlanta, GA</p>
        </div>

</div>
</div>
        <ul class="list-inline">
            <li class="list-inline-item">
            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg><a class="text-decoration-none" href="https://github.com/ns03444">Github</a></h6>
            </li>
            <li class="list-inline-item">
            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg><a class="text-decoration-none" href="https://github.com/ns03444">Twitter</a></h6>
            </li>
            <li class="list-inline-item">
                <h6 class="mb-0">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn logo" width="24" height="24" class="mr-2 icon-inline text-info">
                    <a class="text-decoration-none" href="https://www.linkedin.com/in/ns03444">LinkedIn</a>
                </h6>
            </li>
        </ul>
        </div>
    </div>
</div>
</div>
</center>
    <br>
    <div class="container">
        <h2>About Me</h2>
    <div class="card">   
        <div class="card-body">
            <p>Joining <a class="text-decoration-none" href="https://www.fiserv.com/">Fiserv</a> in June 2021 as part of the Client WAN Engineering Organization, Nicholas is an active member of a DevOps teams delivering Network Automation through the latest tools and software in an agile fashion. Their mission is to change the way our Network Engineers support clients by automating repetitive, error-prone tasks from their daily operations. Our automation platform is continuously improving the way changes are deployed, the cost of operations, and the delivery time of IT services. 
                Areas of specialization include: </p>
            <ul>
                <li>Python Scripting with NETCONF, Netmiko, NAPALM, etc. to automate network device provisioning & configuration change executions.</li>
                <li>Developing custom Ansible modules & plugins integrated with Python tools & REST APIs. </li>
                <li>Contributing to collaborative projects using Git, Gitlab, CI/CD, formatting standards, and semantic versioning.</li>
                <li>Testing containerized workflows on networking devices in a virtual lab environment with custom unit and integration testing</li>
            </ul>
        </div>
        </div>
        </div>
        <br>
        <br>
        <div class="container">
            <h2>Projects</h2>
        <div class="card">
            <div class="card-body">
            <br>
            <ul>
                <li><a class="text-decoration-none" href="https://github.com">Python Package: Network Automation Utilities</a>.</li>
                <li><a class="text-decoration-none" href="https://github.com">Django Application: Content Aggregator</a>.</li>
                <li><a class="text-decoration-none" href="https://github.com">Flask Application: Blog Website</a>.</li>
            </ul>
            </div>
            </div>
            </div>
        <br>
        <br>
        <div class="container">
            <h2> Latest Blog Post</h2>

            <div class="card" >

              <div class="card-body">
                <h4><a class="card-title text-decoration-none" href="../static/{{latest_post.file}}">{{latest_post.title}}</a></h4>
                <p>By: Nicholas Spell</p>
                <p>Published: {{ latest_post.date.strftime('%m-%d-%Y') }}</p>
                <p>{{ latest_post.description}}</p>
                <a href="../static/{{latest_post.file}}" class="btn btn-primary">Read Blog Post</a>
              </div>
            </div>
        </div>
            <br>
            <br>
            <div class="container">
            <div class="jumbotron">
                <h2>Earlier Experience</h2>
            <div class="card">
                <div class="card-body">
                <br>
                <h5 class="card-title">Senior Capstone Project</h5>
                    <p class="card-text">Jan 2021 - May 2021 · 5 mos</p>
                    <p class="card-text">Developed a “content aggregator” for technology related stock market news and performance data which was deployed to the cloud using Git and Python Anywhere that dynamically updates once
                    every hour. I began by using the Beautiful Soup (bs4) and Requests dependencies to web-scrape
                    unformatted data from various websites. Then, the front end was developed using the Django frontend
                    framework along with Bootstrap HTML and CSS to present my scraped content, along with an
                    SQLite3 backend database for handling, serving, updating, etc. the content of the site. Next, I
                    manipulated/created calculated columns in a pandas data-frame of open/close prices for the S&P 500
                    to create interactive candlestick charts with Bokeh embedded into a Bootstrap template. Finally, I
                    conducted an in-depth financial analysis of the 3 largest wireless network carriers in America by
                    using the yFinance and Matplotlib python libraries. The yFinance library was implemented to collect
                    the close price, volume, volatility, market capitalization, Beta, price-to-earnings ratio, dividend yield.
                    Then, I integrated the data into a single data-frame and used Matplotlib to create various
                    visualizations (line graphs, bar charts, histograms). Last, I used the visualizations to provide an
                    educated conclusion (not investment advice).</p>
                </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                    <br>
                    <h5 class="card-title">Data Analytics</h5>
                        <p class="card-text">Jan 2021 - Apr 2021 · 4 mos</p>
                        <ul>
                            <li>Used SQL Server Integration Services to extract, transform, and load data from multiple data sources, and then manipulate the data.</li>
                            <li>Built multidimensional OLAP cube structures to analyze business information with SQL Server Analysis Services.</li>
                            <li>Used Power BI & Tableau to connect to live data sources to create descriptive visualizations for discovering insights.</li>
                            <li>Built and populated data marts/warehouses to support business intelligence applications.</li>
                        </ul>
                    </div>
                    </div>
                    <br>
                <div class="card">
                    <div class="card-body">
                    <br>
                    <h5 class="card-title">Data Programming</h5>
                        <p class="card-text">Jan 2021 - Apr 2021 · 4 mos</p>
                        <ul>
                            <li>Wrote Python programs for data searching with the use of regular expressions, and data manipulation with Python data structures such as dictionaries and lists.</li>
                            <li>Used the Matplotlib and Bokeh libraries for performing data visualization.</li>
                            <li>Created and administrated relational databases with SQLite3.</li>
                            <li>Extracted, loaded, and transformed data to, and from various sources such as .txt, .csv. and, .xsls files.</li>
                        </ul>
                    </div>
                    </div>
                    <br>
                <div class="card">
                    <div class="card-body">
                    <br>
                    <h5 class="card-title">Database Design & Implementations</h5>
                        <p class="card-text">May 2020 - Jul 2020 · 3 mos</p>
                        <ul>
                            <li>Created, modified, and updated complex databases using SQL Server Management Studio.</li>
                            <li>Performed database administration tasks using SQL to create, query, and maintain relational tables.</li>
                            <li>Create Entity-Relationship Diagrams to build properly structured databases.</li>
                            <li>Use normalization to format tables in 3rd normal form.</li>
                        </ul>
                    </div>
                    </div>
                    <br>
                <div class="card">
                    <div class="card-body">
                    <br>
                    <h5 class="card-title">I.T Support Specialist</h5>
                        <p class="card-text">Woody Folsom Automotive · Internship</p>
                        <p class="card-text">May 2020 - Jul 2020 · 3 mos</p>
                        <p class="card-text">Over the course of my internship I worked with a diverse range of hardware, software, networking equipment, and other devices. 
                            In the process, I gained a phenomenal amount of valuable experience and resourceful techniques for solving various technical issues.</p>
                    </div>
                    </div>
                    <br>
                </div>
                </div>
  </body>
</html>
{% endblock %}